*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(
135deg,
#2e7d32,
#81c784
);
min-height:100vh;
padding:20px;
}

#login{
background:white;
max-width:500px;
margin:auto;
padding:30px;
border-radius:20px;
text-align:center;
box-shadow:0 0 20px rgba(0,0,0,.2);
}

input{
width:100%;
padding:12px;
margin:10px 0;
border-radius:10px;
border:none;
background:#f1f1f1;
}

button{
padding:12px 20px;
border:none;
border-radius:10px;
background:#2e7d32;
color:white;
cursor:pointer;
margin:5px;
}

button:hover{
transform:scale(1.05);
}

.avatares{
display:flex;
justify-content:center;
gap:20px;
margin:20px;
}

.avatares img{
width:80px;
cursor:pointer;
border-radius:50%;
}

.selecionado{
border:5px solid green;
}

header{
background:white;
padding:20px;
border-radius:20px;
text-align:center;
margin-bottom:20px;
}

#avatarUsuario{
width:100px;
border-radius:50%;
}

.cards{
display:grid;
grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 0 10px rgba(0,0,0,.2);
}